<div class="home--background">
  <div class="box">
    <h2>Global home</h2>

    <h6>Inicie sesión con su nombre de usuario Contraseña</h6>

    <input type="text" class="input-first" placeholder="Usuario">

    <input type="password" class="input-first" placeholder="Password">

    <a href="#" class="btn btn-block btn-red">Iniciar sesión</a>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="forget-password">
                <a href="#" >Se te olvidó tu contraseña</a>
            </div>

        </div>
    </div>
    <div class="already-account">
        <a href="#" >¿No tienes una cuenta? Registrar aquí</a>
    </div>

</div>

</div>
